<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Upper Case Pipe</h4>
    <p ngNonBindable>{{ "Welcome to Angular Pipes" | uppercase }}</p>
    <p>{{ "Welcome to Angular Pipes" | uppercase }}</p>
  </div>
</div>
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Lower Case Pipe</h4>
    <p ngNonBindable>{{ "Welcome to Angular Pipes" | lowercase }}</p>
    <p>{{ "Welcome to Angular Pipes" | lowercase }}</p>
  </div>
</div>
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Title Case Pipe</h4>
    <p ngNonBindable>{{ "welcome to angular pipes" | titlecase }}</p>
    <p>{{ "welcome to angular pipes" | titlecase }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Date Pipe</h4>
    <p ngNonBindable>{{ today | date }}</p>
    <p>{{ today | date }}</p>
    <br />
    <p ngNonBindable>{{ today | date: "fullDate" }}</p>
    <p>{{ today | date: "fullDate" }}</p>
    <br />
    <p ngNonBindable>{{ today | date: "shortTime" }}</p>
    <p>{{ today | date: "shortTime" }}</p>
    <br />
    <p ngNonBindable>{{ today | date: "full" }}</p>
    <p>{{ today | date: "full" }}</p>
    <br />
    <p ngNonBindable>{{ today | date: "yyyy-MM-dd HH:mm a z" }}</p>
    <p>{{ today | date: "yyyy-MM-dd HH:mm a z" }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Decimal Pipe</h4>
    <p ngNonBindable>{{ 123456.14 | number }}</p>
    <p>{{ 123456.14 | number }}</p>
    <br />
    <p ngNonBindable>{{ 1.3456 | number: "3.1-2" }}</p>
    <p>{{ 1.3456 | number: "3.1-2" }}</p>
    <br />
    <p ngNonBindable>{{ 123456789 | number: "1.2-2" }}</p>
    <p>{{ 123456789 | number: "1.2-2" }}</p>
    <br />
    <p ngNonBindable>{{ 1.2 | number: "4.5-5" }}</p>
    <p>{{ 1.2 | number: "4.5-5" }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Percent Pipe</h4>
    <p ngNonBindable>{{ 0.25645 | percent }}</p>
    <p>{{ 0.25645 | percent }}</p>
    <br />
    <p ngNonBindable>{{ 0.25645 | percent: "3.1-5" }}</p>
    <p>{{ 0.25645 | percent: "3.1-5" }}</p>
    <br />
    <p ngNonBindable>{{ 0.25645 | percent: "1.5-5" }}</p>
    <p>{{ 0.25645 | percent: "1.5-5" }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Currency Pipe</h4>
    <p ngNonBindable>{{ 1234567.5555 | currency }}</p>
    <p>{{ 1234567.555 | currency }}</p>
    <br />
    <p ngNonBindable>{{ 1234567 | currency: "INR" }}</p>
    <p>{{ 1234567 | currency: "INR" }}</p>
    <br />
    <p ngNonBindable>{{ 1234567 | currency: "CAD":"symbol":"1.2-5" }}</p>
    <p>{{ 1234567 | currency: "CAD":"symbol":"1.2-5" }}</p>
    <br />
    <p ngNonBindable>{{ 1234567 | currency: "CAD":"symbol-narrow":"1.2-5" }}</p>
    <p>{{ 1234567 | currency: "CAD":"symbol-narrow":"1.2-5" }}</p>
    <br />
    <p ngNonBindable>{{ 1234567.555 | currency: "INR":"symbol":"1.0-0" }}</p>
    <p>{{ 1234567.555 | currency: "INR":"symbol":"1.0-0" }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Slice Pipe</h4>
    <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice: 2 }}</p>
    <p>{{ [1, 2, 3, 4, 5, 6] | slice: 2 }}</p>
    <br />
    <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice: 2:4 }}</p>
    <p>{{ [1, 2, 3, 4, 5, 6] | slice: 2:4 }}</p>
    <br />
    <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice: 1:-2 }}</p>
    <p>{{ [1, 2, 3, 4, 5, 6] | slice: 1:-2 }}</p>
    <br />
    <p ngNonBindable>{{ languages | slice: 2:5 }}</p>
    <p>{{ "languages" | slice: 2:5 }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Json Pipe</h4>
    <p ngNonBindable>{{ data | json }}</p>
    <p>{{ data | json }}</p>
  </div>
</div>
<hr />
<br />
<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">I18nSelectPipe</h4>
    <p ngNonBindable>I am {{ "happy" | i18nSelect: emogieMap }}</p>
    <p>I am {{ "happy" | i18nSelect: emogieMap }}</p>
    <br />
    <p ngNonBindable>I am {{ "sad" | i18nSelect: emogieMap }}</p>
    <p>I am {{ "sad" | i18nSelect: emogieMap }}</p>
    <br />
    <p ngNonBindable>I am {{ "none" | i18nSelect: emogieMap }}</p>
    <p>I am {{ "none" | i18nSelect: emogieMap }}</p>
    <br />
    <p ngNonBindable>I am {{ "rubbish" | i18nSelect: emogieMap }}</p>
    <p>I am {{ "rubbish" | i18nSelect: emogieMap }}</p>
  </div>
</div>

<div class="card col-md-12">
  <div class="card-body">
    <h4 class="card-title">Custom Pipe</h4>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Search String..."
        [(ngModel)]="value"
      />
    </div>

    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let l of languages | filterPipe: value"
      >
        {{ l }}
      </li>
    </ul>
  </div>
</div>

<br>
<br>

<h1>My First Attribute Directive</h1>
<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>
<p [appHighlight]="color" defaultColor="violet">Highlight me too!</p>

<input type="text" [formControl]="field" appUppercase>
<br>
<br>

<input type="text" [formControl]="name" appNamevalidator>
<button (click)="test()"> test</button>
<p *ngIf="name.errors?.test"> error name</p>
<br>
<br>


<h2>Structural Directive</h2>
<br/>
<button (click)="flag = !flag">change flag</button>
<div *ngIf="flag">
  ngif show {{flag}}
</div>
<ng-template  [ngIf]="flag">
  <div>
    ngif2 show {{flag}}
  </div>
</ng-template>
<div *appTestIf="flag">
  appTestIf show {{flag}}
</div>
<ng-template  [appTestIf]="flag">
  <div>
    appTestIf2 show {{flag}}
  </div>
</ng-template>

<div *appDelay="3000" style="background-color: red;">
  appDelay show {{flag}}
</div>

<div *appLoop="10">
  appLoop 
</div>

<div *appObjectNgFor="let propertyName from myObject; let index=index">
  appObjectNgFor [{{index}}] {{propertyName}}: {{myObject[propertyName]}}
</div>
